
tensorflow[and-cuda]
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121 --extra-index-url https://download.pytorch.org/whl/cu121
numpy
pandas
scipy
scikit-learn
scikit-learn-intelex
matplotlib
seaborn
numexpr
tqdm
ujson
transformers
datasets
accelerate
evaluate
sentencepiece
nltk
gensim
jupyter
jupyterlab
notebook
ipywidgets
ipykernel
jupyterlab-pygments
jupyter-console
opencv-python
Pillow
imageio
flask
streamlit
werkzeug
requests
charset-normalizer
urllib3
idna
click
pyyaml
jsonschema
importlib-metadata
pyarrow
regex
decorator
typing-extensions
psutil
cython
traitlets
pickleshare
python-dateutil
pysocks
zipp
attrs
async-lru
argon2-cffi
beautifulsoup4
soupsieve
anyio
blinker
markdown
mistune
markupsafe
bleach
smart-open
stack-data
watchdog
websocket-client
widgetsnbextension
optuna
opt-einsum
fqdn
xgboost
